<form id="userEditForm" th:action="@{/admin/user-edit}" method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <!-- Поля формы -->
    <div class="form-group text-center" style="margin-bottom:   10px;">
        <label for="username">Username:</label>
        <input type="text" class="form-control" style="width:   400px;" id="username" name="username" th:field="*{username}" placeholder="Enter username">
    </div>
    <div class="form-group text-center" style="margin-bottom:   10px;">
        <label for="password">Password:</label>
        <input type="password" class="form-control" style="width:   400px;" id="password" name="password" th:field="*{password}" placeholder="Enter password">
    </div>
    <div class="form-group text-center" style="margin-bottom:   10px;">
        <label for="age">Age:</label>
        <input type="number" class="form-control" style="width:   400px;" id="age" name="age" th:field="*{age}" placeholder="Enter age">
    </div>
    <div class="form-group text-center" style="margin-bottom:   10px;">
        <label for="roles">Roles:</label>
        <select multiple class="form-control" style="width:   400px; height:   50px;" id="roles" name="roles" th:field="*{roles}">
            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
    </div>
</form>